*, *::before, *::after {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	box-sizing: border-box;
}

body {
    background: #101010; 
    color:#FFFFFF;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

// Settings / Variables

$layer-count: 20;
$layer-group-count: 3;
$z-gap: 2; // Vertical gap between layers.
$animation-duration: 10;
$border-radius-max: 1px;
$border-radius-min: 1px;
$border-width-max: 40px;
$border-width-min: 2px;
$box-shadow-width: 4px;

$color1: #EF5350;
$color2: #EC407A;
$color3: #E040FB;
$color4: #3D5AFE;
$color5: #2979FF;
$color6: #18FFFF;
$color7: #1DE9B6;
$color8: #00E676;
$color9: #EEFF41;
$color10: #FF6D00;

.container {
    overflow: hidden;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 0;

    & > div[class^="layer-group-"] {
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        transform-style: preserve-3d;

        &.layer-group-1 {
            width: 275px;
            height: 275px;
            transform: rotate3d( 180, 0, 0, 45deg ) rotate( 45deg ) translateZ( -50px ); 
            animation: float 5s ease-in-out infinite;
            z-index: 1;
            & > div[class^="layer-"] {
                animation: color 20s linear infinite;
                border-color: $color1;
                box-shadow: 
                    0 0 0 $box-shadow-width $color1, 
                    0 0 6px $box-shadow-width rgba( $color1, 0.2 ), 
                    0 0 0 $box-shadow-width $color1 inset, 
                    0 0 12px $box-shadow-width rgba( $color1, 0.2 ) inset;
            }
        }
        &.layer-group-2 {
            width: 200px;
            height: 200px;
            transform: rotate3d( 180, 0, 0, 45deg ) rotate( 45deg ) translateZ( 50px ); 
            z-index: 2;
            & > div[class^="layer-"] {
                border-color: transparent;
                background: rgba( #FFFFFF, 0.005 );
                backdrop-filter: blur( 24px ) saturate(105%) brightness(102%);
            }
        }

        & > div[class^="layer-"] {
            border-width: $border-width-min;
            border-style: solid;
            position: absolute;
            width: 100%;
            height: 100%;
            border-radius: $border-radius-max;
            @for $i from 1 through $layer-count {
                &.layer-#{ $i } {
                    transform: translateZ(-#{ $i * $z-gap }px);
                    z-index: $layer-count - $i;
                }
            }
        }
    }
}

@keyframes float {
    0% { 
        transform: rotate3d( 180, 0, 0, 45deg ) rotate( 45deg ) translateZ( -50px ); 

    }
    50% {
        transform: rotate3d( 180, 0, 0, 45deg ) rotate( 45deg ) translateZ( 50px );
    }
    100% { 
        transform: rotate3d( 180, 0, 0, 45deg ) rotate( 45deg ) translateZ( -50px );
    }
}

@keyframes color {
    0% {
        border-color: $color1;
        box-shadow: 
            0 0 0 $box-shadow-width $color1, 
            0 0 6px $box-shadow-width rgba( $color1, 0.2 ), 
            0 0 0 $box-shadow-width $color1 inset, 
            0 0 12px $box-shadow-width rgba( $color1, 0.2 ) inset;
    }
    10% {
        border-color: $color2;
        box-shadow: 
            0 0 0 $box-shadow-width $color2, 
            0 0 6px $box-shadow-width rgba( $color2, 0.2 ), 
            0 0 0 $box-shadow-width $color2 inset, 
            0 0 12px $box-shadow-width rgba( $color2, 0.2 ) inset;
    }
    20% {
        border-color: $color3;
        box-shadow: 
            0 0 0 $box-shadow-width $color3, 
            0 0 6px $box-shadow-width rgba( $color3, 0.2 ), 
            0 0 0 $box-shadow-width $color3 inset, 
            0 0 12px $box-shadow-width rgba( $color3, 0.2 ) inset;
    }
    30% {
        border-color: $color4;
        box-shadow: 
            0 0 0 $box-shadow-width $color4, 
            0 0 6px $box-shadow-width rgba( $color4, 0.2 ), 
            0 0 0 $box-shadow-width $color4 inset, 
            0 0 12px $box-shadow-width rgba( $color4, 0.2 ) inset;
    }
    40% {
        border-color: $color5;
        box-shadow: 
            0 0 0 $box-shadow-width $color5, 
            0 0 6px $box-shadow-width rgba( $color5, 0.2 ), 
            0 0 0 $box-shadow-width $color5 inset, 
            0 0 12px $box-shadow-width rgba( $color5, 0.2 ) inset;
    }
    50% {
        border-color: $color6;
        box-shadow: 
            0 0 0 $box-shadow-width $color6, 
            0 0 6px $box-shadow-width rgba( $color6, 0.2 ), 
            0 0 0 $box-shadow-width $color6 inset, 
            0 0 12px $box-shadow-width rgba( $color6, 0.2 ) inset;
    }
    60% {
        border-color: $color7;
        box-shadow: 
            0 0 0 $box-shadow-width $color7, 
            0 0 6px $box-shadow-width rgba( $color7, 0.2 ), 
            0 0 0 $box-shadow-width $color7 inset, 
            0 0 12px $box-shadow-width rgba( $color7, 0.2 ) inset;
    }
    70% {
        border-color: $color8;
        box-shadow: 
            0 0 0 $box-shadow-width $color8, 
            0 0 6px $box-shadow-width rgba( $color8, 0.2 ), 
            0 0 0 $box-shadow-width $color8 inset, 
            0 0 12px $box-shadow-width rgba( $color8, 0.2 ) inset;
    }
    80% {
        border-color: $color9;
        box-shadow: 
            0 0 0 $box-shadow-width $color9, 
            0 0 6px $box-shadow-width rgba( $color9, 0.2 ), 
            0 0 0 $box-shadow-width $color9 inset, 
            0 0 12px $box-shadow-width rgba( $color9, 0.2 ) inset;
    }
    90% {
        border-color: $color10;
        box-shadow: 
            0 0 0 $box-shadow-width $color10, 
            0 0 6px $box-shadow-width rgba( $color10, 0.2 ), 
            0 0 0 $box-shadow-width $color10 inset, 
            0 0 12px $box-shadow-width rgba( $color10, 0.2 ) inset;
    }
    100% {
        border-color: $color1;
        box-shadow: 
            0 0 0 $box-shadow-width $color1, 
            0 0 6px $box-shadow-width rgba( $color1, 0.2 ), 
            0 0 0 $box-shadow-width $color1 inset, 
            0 0 12px $box-shadow-width rgba( $color1, 0.2 ) inset;
    }
}